{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pots/pot-detail.css' %}" />
{% endblock %} {% block content %}

<div class="card" style="border-color: {{ pot.color }}">
  <div class="card-bg" style="background-color: {{ pot.color }}"></div>
  <div class="card-content">
    <h2>{{ pot.name }}</h2>
    <p>A {{ pot.color }} pot.</p>
  </div>
</div>
<a href="{% url 'pot-update' pot.id %}" class="btn warn">Edit</a>
<a href="{% url 'pot-delete' pot.id %}" class="btn danger">Delete</a>

{% endblock %}
